/* ====================layout==============*/

nav{
	background:rgba(0,0,0,0.7);
}

html, body, .capa {
	height:100%;
}

body {
	background:url(imagens/capa.png),
			   url(imagens/ruido.png),
			   linear-gradient(50deg,#c03a04,#c805aa);
			   background-attachment: fixed;
			  /* font-family: Arial, Helvetica, sans-serif;*/
			   
}

.capa {
	display:table;
	width:100%;
}

#servicos {
	background:white;
	padding-top:20px;
	padding-bottom:20px;
}

#servicos2 {
	padding-top:20px;
	padding-bottom:20px;
	color:white;
	font-weight:700;
} 

.rotacionar {
	-ms-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
}

@media screen and (max-width:990px) {
	section .hroxo-escuro  {
		
		font-size:25px;
	}

	section .hroxo {
		font-size:19px;
	}

	section p {
		font-size:14px;
	}
}

@media screen and (max-width:990px) {

	footer {
		font-size:14px;
	}

	footer img {
		width:100px;
		margin-right:10px;
		margin-top:5px;
		
	}
}
/*================tipografia=============== */

.hroxo-escuro {
	color:#ab0790;
	font-weight:700;
	font-size:50px;

}

.hroxo {
	color:#df00ba;
	font-weight:700;
	font-size:35px;
}


.divisor {
	color:white;
	width:1px;
	margin:5px;
}


.transparente {
	color:transparent;
}



.navbar-dark .navbar-nav .nav-link, footer a  {
	color:white;
	font-weight:630;
}

.navbar-dark .navbar-nav .nav-link:hover, footer a:hover {
	color:#3fcd02;
}

.formatacao-h1 {
	color:white;
	font-weight:700;
}

.texto-capa {
	text-align:center;
	color:white;
	display:table-cell;
	vertical-align:middle;
}

h1 {
	font-weight:650;
	font-size:90px;
	letter-spacing:-4px;
	margin-bottom:50px;
}



.btn-custom {
	color:white;
	border-radius:500px;
	-webkit-border-radius:500px;
	-moz-border-radius:500px;
	padding:12px 40px;
	text-transform:uppercase;
	margin:0px 15px;
	font-weight:650;
	font-size:15px;
	transition: background 0.4s, color 0.4s;
}

.primeiro-botao {
	background-color:rgb(29, 182, 83);
}

.primeiro-botao:hover {
	background-color:#05ee57;
	color:white;
}

.segundo-botao {
	border:3px solid white;
}

.segundo-botao:hover {
	background-color:white;
}

#servicos2, h2 {
	font-weight:700;
	color:#fae2f6;
	
}

.header-2 {
	color:#a8edf8;
	font-weight:700;
}

footer {
	background:#000;
	padding:40px 0px 40px 0px;
	position:relative;
	
}

.sub-titulos {
	font-size:12px;
	font-weight:700;
	color:#979594;
}

.icones-social {
	transition: color 0.4s;
	display:inline-block;
	margin-right:15px;
	color:#979594;  
	float:right;
}